@import url(http://fonts.googleapis.com/css?family=Droid+Serif);

* {
    z-index: 1;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Droid Serif', serif;
}

header {
    padding: .5rem 1rem;
}

header h1 {
    font-size: 3.5rem;
    display: inline-block;
}

.left {
    width: 12rem;
    float: left;
    text-align: center;
}

.votes {
    width: calc(100% - 1rem);
}

.votes li {
    display: inline-block;
    font-weight: bold;
}

.upvotes {
    color: green;
}

.downvotes {
    color: crimson;
}

.center {
    width: calc(100% - 32rem);
    float: left;
}

.post, .left h2 {
    margin: .25rem .75rem;
    padding: .25rem .25rem;
    border-bottom: .1rem solid #bdb4b7;
    overflow: auto;
}

.post h3 {
    display: inline-block;
}

.post ul {
    float: right;
    width: 10rem;
}

.post_link {
    word-break: break-all
}

.right {
    width: 20rem;
    float: right;
    padding: .5rem 1rem;
}

.right div {
    width: 100%;
    overflow: auto;
}

.sidebar {
    padding-top: 1rem;
    margin-top: 1rem;
    border-top: .1rem solid;
    border-bottom: .1rem solid;
}

.sidebar h2, .protection {
    text-align: center;
}

.sidebar p {
    padding: 1rem;
}

.protection {
    margin-top: .5rem;
    padding: .3rem;
}

.mods {
    padding: .5rem;
}

.mods h2 {
    text-align: center;
    margin-bottom: 1rem;
}