body {
    background-color: #0e1738;
}

.main_header {
    background-color: #010207;
}

header * {
    color: #d3d3df;
}

.lightblue {
    background-color: #7faacc;
}

.silver {
    background-color: #bdb4b7;
}

