.form_call_button {
    width: 33% !important;
    float: left;
    height: 5rem;
    position: relative;
}

.form_call_button h4 {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

#dark_cover {
    z-index: 2;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.forms {
    display: none;
    z-index: 3;
    position: fixed;
    top: 10rem;
    left: calc(50% - 13rem);
    right: calc(50% - 13rem);
    width: 26rem;
    border-radius: .5rem;
    padding-bottom: .5rem;
}

.forms h2, .forms h3 {
    float: left;
    height: 3rem;
}

.forms h2 {
    width: calc(100% - 3rem);
    border-top-left-radius: .3rem;
    padding: .5rem .8rem;
}

.forms h3 {
    padding: .8rem .8rem .5rem .8rem;
    width: 3rem;
    text-align: center;
    border-top-right-radius: .3rem;
}

.form_contents {
    margin-top: .5rem;
    overflow: auto;
    width: 100%;
    float: left;
}

.forms label, .forms input {
    font-size: 1.1rem;
}

.forms label {
    float: left;
    clear: left;
    margin: .45rem;
}

.forms input {
    border-radius: 1rem;
    margin: .3rem;
    float: right;
    clear: right;
    width: 60%;
}

.forms textarea {
    width: 60%;
    float: right;
    clear: right;
    margin: .3rem;
    height: 7rem;
    box-shadow: inset .05rem .05rem .3rem black;
    border-radius: .5rem;
}

.forms h4 {
    width: 100%;
    text-align: center;
    float: left;
}

.form_radio_buttons ul {
    width: 100%;
    display: block;
    text-align: center;
    float: left;
}

.form_radio_buttons li {
    display: inline-block;
}

.form_radio_buttons label, .form_radio_buttons input {
    float: none;
    width: auto;
    clear: none;
}

.form_radio_buttons input {
    margin-top: .75rem;
}

.forms button {
    border-radius: 1rem;
    border: 3px solid;
    padding: .3rem;
    font-size: 1.1rem;
    clear: both;
    float: left;
    margin: .5rem 20% 0 20%;
    width: 60%;
    text-align: center;
}

.hidden {
    display: none !important;
}

.errorMessage {
    text-align: center;
    background-color: crimson;
    font-size: 1.1rem;
    color: white;
}