body {
    background-color: #d3d3df;
}

.lightblue {
    background-color: #7faacc;
}

header {
    box-shadow: .1rem .1rem .5rem black;
}

header *, .protection {
    color: #bdb4b7 !important;
}

.deepblack {
    background-color: #010207;
}

header, .protection {
    background-color: #0e1738;
}

#dark_cover {
    background-color: rgba(0, 0, 0, .8);
}

.forms {
    background-color: #d3d3df;
    box-shadow: .1rem .1rem .5rem black;
}

.forms h2, .forms h3 {
    background-color: #0e1738;
    color: #bdb4b7;
}

.forms h3 a {
    color: #bdb4b7;
}

.forms h3 a:hover {
    color: black;
}

.forms button {
    background-color: #0e1738;
    color: #bdb4b7;
}

.left, .right {
    background-color: rgba(255, 255, 255, .4);
}

.left {
    box-shadow: .05rem .05rem .7rem black;
}

.right {
    box-shadow: -.05rem .05rem .7rem black;
}

.sidebar {
    border-color: #bdb4b7;
}

a {
    color: #0e1738;
    font-weight: bold;
}