.individual_post {
    padding: .8rem;
}

.individual_post h3 {
    margin-bottom: .5rem;
    font-size: 1.5rem;
}

.add_comment {
    margin: .5rem;
}

.comments, .post_contents {
}

.comments:after, .post_contents:after {
    content: '';
    margin: auto;
    display: block;
    width: 80%;
    height: 1px;
    background: #bdb4b7;
}

.add_comment textarea, .add_comment button {
    display: none;
}