<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-66110845-1', 'auto');
        ga('send', 'pageview');

    </script>
    <meta name=”description” content="{% block description  %}{% endblock %}">
    <title>OurNar: 404</title>
</head>
<body>
<h1>Ya dun froofed</h1>

<h2>Whatever ya did don't do it again cuz this here is a 404 error meaning whatever ya came for aint here.</h2>
</body>
</html>