<!DOCTYPE html>
<html lang="en">
<head>
    {% import "user_macros.html" as user_macros %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-66110845-1', 'auto');
        ga('send', 'pageview');

    </script>
    {% assets 'css_base' %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}
    {% if current_user.is_authenticated() and current_user.theme != 0%}
    {% if current_user.theme == 1 %}
    <link rel="stylesheet" type="text/css" href="/css/dark_theme.css">
    {% endif %}
    {% else %}
    <link rel="stylesheet" type="text/css" href="/css/light_theme.css">
    {% endif %}
    <meta name=”description” content="{% block description  %}{% endblock %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=errorMessage>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<header>
    <h1><a href="/">OurNar</a></h1>
</header>
<div class="left">
    {% if recent %}
    <h2>Recent</h2>
    {{ user_macros.make_posts(recent, current_user) }}
    {% endif %}
</div>
<div class="center">
    {% block content %}{% endblock %}
</div>
<div class="right">
    <div class="user_buttons">
        {% if not current_user.is_authenticated() %}
        {{ user_macros.form_call_button("#", "showForm('login')", "Login") }}
        {{ user_macros.form_call_button("#", "showForm('register')", "Register") }}
        {{ user_macros.form_call_button("#", "showForm('forgot_password')", "Forgot Password") }}
        {% else %}
        {{ user_macros.form_call_button("/logout", "", "Logout") }}
        {{ user_macros.form_call_button("/user/" + current_user.username, "", "Your Page") }}
        {{ user_macros.form_call_button("/settings/" + current_user.username, "", "Settings") }}
        {{ user_macros.form_call_button("#", "showForm('new_wal');", "New Wal") }}
        {% endif %}
        {% block extra_actions %}{% endblock %}
    </div>
    <div class="sidebar">
        {% block sidebar %}{% endblock %}
    </div>
    <div class="mods">
        {% block mods %}{% endblock %}
    </div>
</div>
{% assets 'js_base' %}
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="{{ ASSET_URL }}"></script>
{% endassets %}
<div id="dark_cover"></div>
<form id="login" class="forms" method="post" action="/login">
    <h2>Login</h2>

    <h3><a href="#" onclick="closeForm('login')">X</a></h3>
    <h4 class="errorMessage"></h4>

    <div class="form_contents">
        {{ form.LoginForm.username.label }}{{ form.LoginForm.username(autofocus=true, required=true) }}
        {{ form.LoginForm.password.label }}{{ form.LoginForm.password(required=true) }}
    </div>
    <button type="submit">Login</button>
</form>
<form id="register" class="forms" method="post" action="/api/users">
    <h2>Register</h2>

    <h3><a href="#" onclick="closeForm('register')">X</a></h3>
    <h4 class="errorMessage"></h4>

    <div class="form_contents">
        {{ form.RegisterForm.username.label }}{{ form.RegisterForm.username(autofocus=true, required=true) }}
        {{ form.RegisterForm.password.label }}{{ form.RegisterForm.password(required=true) }}
        {{ form.RegisterForm.confirm_password.label }}{{ form.RegisterForm.confirm_password(required=true) }}
        {{ form.RegisterForm.email.label }}{{ form.RegisterForm.email(required=true) }}
    </div>
    <button type="submit">Register</button>
</form>
<form id="forgot_password" class="forms" method="post" action="/forgot_password">
    <h2>Reset Password</h2>

    <h3><a href="#" onclick="closeForm('forgot_password')">X</a></h3>
    <h4 class="errorMessage"></h4>

    <div class="form_contents">
        {{ form.ForgotPasswordForm.username.label }}{{ form.ForgotPasswordForm.username(autofocus=true, required=true)
        }}
    </div>
    <button type="submit">Reset Password</button>
</form>
<form id="new_wal" class="forms" method="post" action="/api/wal">
    <h2>Create a Wal</h2>

    <h3><a href="#" onclick="closeForm('new_wal')">X</a></h3>
    <h4 class="errorMessage"></h4>

    <div class="form_contents">
        {{ form.WalForm.wal_name.label }}{{ form.WalForm.wal_name(autofocus=true, required=true) }}
        {{ form.WalForm.description.label }}{{ form.WalForm.description(required=true, placeholder="What is this sub
        about?") }}
        <h4>Will this Wal be NSFW or Sensative?</h4>

        <div class='form_radio_buttons'>
            {{ form.WalForm.classification(required=true) }}
        </div>
        <h4>Will this Wal be closed or sealed?</h4>

        <div class='form_radio_buttons'>
            {{ form.WalForm.protection(required=true) }}
        </div>
    </div>
    <button type="submit">Create a Wal</button>
</form>
</body>
</html>