{% extends 'base.html' %}
{% set description = """
OurNar is a project by two 18 year old kids who wanted a a community where people can socialize freely,
discuss important topics, and make the world better place. OurNar aims to be open and free.
If we disagree with you we will discuss it in the comments like civilized people
or insult your mother. Both are acceptable. Action on our part will only be taken
when necessitated by the law of the United States or our soon to come Terms of Service and Code of Conduct.
""" %}
{% block title %}OurNar: A social site.{% endblock %}
{% block description %}{{ description }}{% endblock %}

{% block content %}
{{ user_macros.make_posts(hot, current_user) }}
{% endblock %}

{% block sidebar %}
<h2>OurNar</h2>
<p>{{ description }}</p>
{% endblock %}

{% block mods %}
<h2>Admins</h2>
<ul>
    {% for admin in admins %}
    <li><a href="/user/{{ admin.username }}">{{ admin.username }}</a></li>
    {% endfor %}
</ul>
{% endblock %}