{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock %}
{% block description %}{{ post.text[:50] }}{% endblock %}

{% block content %}
<div class="individual_post">
    <div class="post_contents">
        <h3>{{ post.title }}</h3>
        <a href="{{ post.url }}">{{ post.url }}</a>

        <div>
            {{ Markup(markdown.markdown(post.text)) }}
        </div>
        {{ user_macros.votes('post', post, current_user) }}
    </div>
    {{ user_macros.comment_macro(comments , wal, post, current_user) }}
    {% if current_user.is_authenticated() %}
    <div id="base" class="add_comment">
        <a href="#" onclick="show_comment(document.getElementById('base'))">
            <h4>Add a Comment</h4>
        </a>

        <form method="post" action="/api/comments">
            <input type="hidden" name="walname" value="{{ wal.name }}">
            <input type="hidden" name="post_id" value="{{ post.id }}">
            <input type="hidden" name="parent" value="">
            <textarea class="comment" name="text"></textarea>
            <button type="submit">Add Comment</button>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block extra_actions %}
{% endblock %}