{% macro form_call_button(href, action, text) %}
<a href="{{ href }}" onclick="{{  action }}">
    <div class="form_call_button">
        <h4>{{ text }}</h4>
    </div>
</a>
{% endmacro %}


{% macro comment_macro(comments, wal, post, current_user) %}
{% for comment in get_hot_comments(comments) %}
<div class="comments">
    <p>{{ comment.text }}</p>
    {{ votes('comment', comment, current_user) }}
</div>
{% if comment.nested_comments %}
{{ comment_macro(comment.nested_comments, wal, post, current_user) }}
{% endif %}

{% if current_user.is_authenticated() %}
<div id="{{ comment.id }}" class="add_comment">
    <a href="#" onclick="show_comment(document.getElementById('{{ comment.id }}'))">
        <h4>Add a Comment</h4>
    </a>

    <form method="post" action="/api/comments">
        <input type="hidden" name="walname" value="{{ wal.name }}">
        <input type="hidden" name="post_id" value="{{ post.id }}">
        <input type="hidden" name="parent" value="{{ comment.id }}">
        <textarea name="text"></textarea>
        <button type="submit">Add Comment</button>
    </form>
</div>
{% endif %}
{% endfor %}
{% endmacro %}

{% macro votes(type, model, current_user) %}
<ul class="votes">
    {% if current_user.is_authenticated() %}
    <a onclick="post('/vote', {'up_down':'up', 'type': '{{ type }}', 'id': '{{ model.id }}' })">
        <li class="upvotes">&#x2713;</li>
    </a>
    {% else %}
    <li class="upvotes">&#x2713;</li>
    {% endif %}
    <li class="upvotes">{{ model.up_votes }}</li>
    <li class="downvotes">{{ model.down_votes }}</li>
    {% if current_user.is_authenticated() %}
    <a onclick="post('/vote', {'up_down':'down', 'type': '{{ type }}', 'id': '{{ model.id }}' })">
        <li class="downvotes">&#x2717;</li>
    </a>
    {% else %}
    <li class="downvotes">&#x2717;</li>
    {% endif %}
    {% for tusk in range(model.tusks) %}
    <li class="tusks"><img src="/images/tusk.ico" alt="Post Tusk image"></li>
    {% else %}
    <a href="/give_tusk">Give a tusk!</a>
    {% endfor %}
</ul>
{% endmacro %}

{% macro make_posts(posts, current_user) %}
{% for post in posts %}
<a href="/post/{{ post.sub.name }}/{{ post.id }}">
    <div class="post">
        <h3>{{ post.title }}</h3>
        {% if post.url != "" %}
        <a class="post_link" href="{{ post.url }}">{{ post.url }}</a>
        {% endif %}
        {{ votes('post', post, current_user) }}
    </div>
</a>
{% endfor %}
{% endmacro %}