{% extends 'base.html' %}

{% block title %}{{ wal.name[0].upper() + wal.name[1:] }}{% endblock %}
{% block description %}{{ wal.description }}{% endblock %}

{% block content %}
{{ user_macros.make_posts(posts, current_user) }}
{% endblock %}

{% block extra_actions %}
{% if current_user.is_authenticated() %}
{% if (wal.admin_only and current_user.is_admin) or wal.open_sealed_closed == 0 or (wal.open_sealed_closed == 2 and subscribed) %}
{{ user_macros.form_call_button("#", "showForm('new_post');", "Make a Post") }}
{% endif %}
{% if not subscribed %}
{{ user_macros.form_call_button("#", "post('/subscribe', {walname: '" + wal.name + "', 'subscribe': 'subscribe'  });", "Subscribe") }}
{% else %}
{{ user_macros.form_call_button("#", "post('/subscribe', {walname: '" + wal.name + "', 'subscribe': 'unsubscribe' });", "Unsubscribe") }}
{% endif %}
{% endif %}
<form id="new_post" class="forms" method="post" action="/api/posts">
    <h2>Add a Post</h2>

    <h3><a href="#" onclick="closeForm('new_post')">X</a></h3>
    <h4 class="errorMessage"></h4>

    <div class="form_contents">
        <input type='hidden' class='hidden' name='wal_name' value='{{ wal.name }}'>
        {{ form.PostForm.title.label }}{{ form.PostForm.title(autofocus=true, required=true) }}
        {{ form.PostForm.text.label }}{{ form.PostForm.text(required=true) }}
        {{ form.PostForm.url.label }}{{ form.PostForm.url(required=true) }}
    </div>
    <button type="submit">Add a Post</button>
</form>
{% endblock %}

{% block sidebar %}
<h2>{{ wal.name[0].upper() + wal.name[1:] }}</h2>
{% if wal.open_sealed_closed == 0 %}
<h3 class="protection">Open</h3>
{% elif wal.open_sealed_closed == 1 %}
<h3 class="protection">Closed</h3>
{% else %}
<h3 class="protection">Sealed</h3>
{% endif %}
<p>{{ wal.description }}</p>
{% if wal.side_bar %}
{{ Markup(markdown.markdown(wal.side_bar)) }}
{% endif %}
{% endblock %}

{% block mods %}
<h2>Mods</h2>
<ul>
    {% for mod in mods %}
    <li><a href="/user/{{ mod.username }}">{{ mod.username }}</a></li>
    {% endfor %}
</ul>
{% endblock %}